html{
background-color: black;
}

body{
padding: 20%;
margin-left: 10%;
margin-right: 10%;
margin-top: 5%;
margin-bottom: 5%;
background-color: #00FF33;
}

#description{
color: white;
font-size: 18px;
font-weight: bolder;
}

#dev{
color: white;
font-size: 20px;
font-weight: bolder;
}